.cabinSizesGrid{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: 2rem 6rem 2rem 6rem;
    justify-content: left;
    padding-left: 10px;
}
.spanTwo{
    grid-column: span 4;
}
.wallOptBtn{
    background-color: rgba(255, 255, 255, .75);
        border: 1px solid white;
        cursor: pointer;
        outline: none;
}
/* .cabinSizesGrid > button{
        background-color: rgba(255, 255, 255, .75);
        border: 1px solid white;
        cursor: pointer;
        outline: none;
} */
.cabinSizeBtn{
    background-color: rgba(255, 255, 255, .75);
        border: 1px solid white;
        cursor: pointer;
        outline: none;
}
.cabinSizeBtnSelected{
    background-color: white;
}
.wallOptBtnSelected{
    background-color: white;
}
.cabinSizesGrid > button:hover,
.cabinSizesGrid > button:hover{
    background-color: rgba(255, 255, 255, .9);
}