
.mainContainer{
  border: 3px solid #fff;
}
.container{
  width: 50%;
  float: left;
}
.container2{
  height: 100%;
  width: 50%;
  float: left;
}
.ul{
  display: flex;
  flex-wrap: wrap;
}
.li{

  flex: 33%;
}
table, th, td{
  border: 1px solid;
  text-align: center;
}
.invoiceCabinName{
  width: 200px;
}
.invoiceSize{
  width: 100px;
}
.invoicePrice{
  width: 100px;
}
