.app{
  min-height: 100vh;
  background: lightblue;
  display: flex;
  justify-content: space-around;
}
.cabinNameList{
  height: 100px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cabinListBtn{
  background-color: lightblue;
  border-radius: 20%;
  padding: 20px 20px;
}