.app{
  min-height: 100vh;
  max-height: 200px;
  height: 100px;
  background: lightblue;
  display: flex;
  justify-content: space-around;
}
.cabinNameList{
  height: 100px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cabinListBtn{
  background-color: lightblue;
  border-radius: 20%;
  padding: 20px 20px;
}
.cabinListBtnSelected{
  background-color: lightgrey;
  border-radius: 20%;
  padding: 20px 20px;
}
.ul{
  display: flex;
  flex-wrap: wrap;
}
.li{

  flex: 33%;
}
.divNameList{
  height: 100px;
  width: 60%;
  float: left;
}
.invoice{
  width: 40%;
  float: right;
  padding-right: 20px;
}
table, th, td{
  border: 1px solid;
  text-align: center;
}
.invoiceCabinName{
  width: 200px;
}
.invoiceSize{
  width: 100px;
}
.invoicePrice{
  width: 100px;
}
